@import "variables";
@import "mixins";

// Scaffolding
// -------------------------

* {
	box-sizing: border-box;
}

html {
	position: relative;
}

body {
	margin-bottom: 75px;
	font-family: $font-stack;
	font-smoothing: antialiased;
	background-image: url("img/nodebg.jpg");
	
}

#content {
	display: flex;
	flex-direction: row;
	flex-flow: center;
	
	margin: 20px auto;
	padding: 10px;
}

#main-column {
	width: 100%;
}

/*
	Components
*/

// Navbar
// -------------------------

nav-dir {
	flex-shrink: 0; // never allow the sidebar to shrink, only grow as needed
	min-width: 150px;
	
	@include no-select;
	color: #fff;
	font-size: 1rem;
	margin-top: 20px;
	background: #242425;
	border-radius: 7px 0 0 7px;
	border: solid 1px #000;
	padding: 5px;
	
	h1 {
		margin: 0.5em 0.1em;
		color: #fff;
		font-size: 1.5em;
	}
}

nav-dir ul {
	padding-left: 10px;
	margin: 0;
}

nav-dir span,
nav-dir li {
	padding-left: 5px;
	display: block;
	cursor: pointer;
}

nav-dir span:hover,
nav-dir li:hover {
	background-color: rgba(0,0,0,0.5);
}

nav-dir li {
	padding-left: 10px;
}

nav-dir li.selected {
	background-color: #999;
	color: #000;
}

// Content header
// -------------------------

content-header {
	display: block;
	
	
	border-radius: 8px 8px 0 0;
	background: #eaeaea;
	background: linear-gradient(top, #eaeaea 0%,#dddddd 100%);
	border-bottom: 1px solid #cbcbcb;
	padding: 20px;
	color: #484848;
	text-shadow: 0px 1px 0px #ffffff;
	
	h2 {
		margin: 0;
	}
}

// File view
// -------------------------

file-view {
	display: block;
	min-height: 500px;
	
	@include no-select;
	padding: 20px;
	background-color: #fff;

	p {
		margin: 10px 0;
	}

	a {
		color: #1563f1;
	}
	a.link-missing{
		color: #F18315;
	}
	
}

#drop-zone {
	display: flex;
	justify-content: center;
	align-items: center;
	
	min-height: 200px;
	background-color: #eee;
	padding: 20px;
}

#drop-zone.dropping {
	border: 2px dashed #3381d4;
}